

#synonym-list-container {
    background-color:#f1f0f0;
    padding: 0 5px;
    flex-grow: 1;
}
#synonym-list {
    height: 300px;
    width: 200px;
    margin-block-start: 0;
    padding: 0px 0px 0px 20px;
    background-color: #fff;
    border: 1px solid #e4dede;
}

#synonym-list-title {
    margin: 10px 0 0 22px;
    padding: 0;
}
.synonym {
    cursor: pointer;
}