#file-zone {
    background-color:#f1f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px 2px 20px;
}

#file {
    width: 600px;
    flex: 2;
    background-color: #fff;
    border: 1px solid #e4dede;
}
