#control-panel {
    background-color: #fff;
    height: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
}
#format-actions {
    margin-right: 400px;
    padding-bottom: 4px;
}

.applied {
    background-color: orange;
}

.color-select {
    height: 21.5px;
}